<div class="table-responsive">
    <table class="table table-hover" id="basicTable">
        <thead>
        <tr>
            <th>Tutor</th>
            <th>E-mail</th>
            <th>Contatos</th>
            <th>Data do cadastro</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

		<?php
		if (count($result) > 0) {
			foreach ($result as $r) { ?>

                <tr>
                    <td class="v-align-middle ">
                        <p><?php echo $r->getFirstName() . " " . $r->getLastName(); ?></p>
                    </td>
                    <td class="v-align-middle">
                        <p><?php echo $r->getEmail(); ?></p>
                    </td>
                    <td class="v-align-middle">
                        <p><?php echo $r->getPhone(); ?></p>
                        <p><?php echo $r->getCellPhone(); ?></p>
                    </td>
                    <td class="v-align-middle">
                        <p> <?php echo $r->showStatus(); ?> </p>
                    </td>
                    <td class="v-align-middle">
                        <p><?php echo $r->getCreatedAt()->format('d/m/Y'); ?></p>
                    </td>
                    <td class="v-align-middle">
                        <a href="<?php echo $route->pathFor('administrator.academic.view', ['hash' => $r->getHash()]); ?> " class="btn btn-secondary w-100">
                            <span class="p-t-5 p-b-5 "> <i class="fa fa-edit fs-15"></i> </span> <br>
                            <span class="fs-11 font-montserrat text-uppercase">Abrir Tutor</span>
                        </a>
                    </td>
                </tr>

			<?php }
		} else { ?>

            <tr>
                <td colspan="7">
                    <h4 class="text-danger text-center"> Nenhum registro encontrado</h4>
                </td>
            </tr>

		<?php } ?>

        </tbody>
    </table>
</div>
