{{> h}}

<div class="content">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax">
        <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
            <div class="inner">
                <!-- START BREADCRUMB -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Administrador</a></li>
                    <li class="breadcrumb-item"><a href="#">Painel de Controle</a></li>
                    <li class="breadcrumb-item"><a href="#">Cursos</a></li>
                    <li class="breadcrumb-item"><a href="#">Configurações</a></li>
                    <li class="breadcrumb-item active">Tipo de Curso</li>
                </ol>
                <!-- END BREADCRUMB -->
            </div>
        </div>
    </div>
    <!-- END JUMBOTRON -->
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg">

		{{> flash_message}}

        <form id="form_type"
              action="<?php echo $route->pathFor('administrator.courses.type.record'); ?><?php echo(is_object($e) ? "/{$e->getHash()}" : null); ?>"
              method="post">

            <ul class="nav nav-tabs nav-tabs-fillup" data-init-reponsive-tabs="dropdownfx">
                <li class="nav-item">
                    <a href="#" class="active" data-toggle="tab" data-target="#tab-1"><span>Informações</span></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="" data-toggle="tab" data-target="#tab-2"><span>Núcleo Comum</span></a>
                </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="tab-1">
                    <!-- BEGIN PlACE PAGE CONTENT HERE -->
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- START card -->
                            <div class="card card-default" style="border: 0;">
                                <div class="card-header ">
                                    <div class="card-title">
                                        Formulário de Tipo de Curso
                                    </div>
                                </div>
                                <div class="card-body">

                                    <h5>Tipo</h5>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-default required">
                                                <label>Digite o tipo de curso</label>
                                                <input type="text" class="form-control" required name="type"
                                                       value="<?php echo (is_object($e)) ? $e->getType() : ''; ?>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-default required">
                                                <label>Tempo do Curso (carga horária)</label>
                                                <input type="number" class="form-control" required name="time"
                                                       value="<?php echo (is_object($e)) ? $e->getTime() : ''; ?>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-default required">
                                                <label>Valor</label>
                                                <input type="text" class="form-control" required name="price"
                                                       data-mask="#.##0,00" data-mask-reverse="true"
                                                       value="<?php echo (is_object($e)) ? number_format($e->getPrice(), 2, ',', '.') : ''; ?>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-default required">
                                                <label>Tempo máximo em meses para finalizar o curso</label>
                                                <input type="text" class="form-control" required name="months"
                                                       data-mask="00"
                                                       data-mask-reverse="true"
                                                       value="<?php echo (is_object($e)) ? $e->getMaxMonth() : ''; ?>"
                                            </div>
                                            <span class="text-sm-left">*colocar valor 0 (zero) para tipo de tempo ilimitado</span>
                                        </div>
                                    </div>
                                    <br><br>
                                    <p class="text-right">
                                        <button type="submit" class="btn btn-info">
                                            <span>Salvar Tipo</span>
                                        </button>
                                    </p>

                                </div>
                            </div>
                            <!-- END card -->
                        </div>
                    </div>
                    <!-- END PLACE PAGE CONTENT HERE -->
                </div>
                <div class="tab-pane " id="tab-2">

                    <!-- START card -->
                    <div class="card card-default" style="border: 0;">
                        <div class="card-header ">
                            <div class="card-title">
                                Lista de Módulos de Nucle Comum
                            </div>
                        </div>
                        <div class="card-body">


                            <h5>Escolha um módulo</h5>

                            <div class="row">
                                <div class="col-md-8 col-lg-8 form-group form-group-default form-group-default-select2">
                                    <label>Nome do Módulo</label>
                                    <select id="module_select" class="full-width select2"
                                            data-placeholder="Escolha um Módulo"
                                            name="modules">
                                        <option value="" selected> ---</option>
                                        <optgroup label="Módulo">
											<?php foreach ($modules as $module) { ?>
                                                <option value="<?php echo $module->getHash(); ?>"><?php echo mb_strtoupper($module->getModule()); ?></option>
											<?php } ?>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-md-4 col-lg-4 ">
                                    <div class="btn-group btn-group-justified row w-100 p-l-10">
                                        <div class="btn-group col-4 p-0">
                                            <button type="button" class="btn btn-warning w-100" id="add_module">
                                                        <span class="p-t-5 p-b-5 text-black"> <i
                                                                    class="fa fa-plus fs-15"></i></span>
                                                <br>
                                                <span class="fs-11 font-montserrat text-black text-uppercase">Adicionar</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <h5>Lista de Módulos</h5>
                            <div class="progress progress_list">
                                <div class="progress-bar-indeterminate"></div>
                            </div>
                            <div id="list_modules"></div>


                        </div>
                    </div>
                </div>

        </form>

    </div>
    <!-- END CONTAINER FLUID -->
</div>

{{> f}}

<script>

	<?php if(is_object($e)){ ?>

    function list() {
        $('.progress_list').show();
        $.ajax({
            method: "GET",
            url: "<?php echo $route->pathFor('administrator.courses.type.get.module', ['hash' => $e->getHash()]);?>"
        })
            .done(function (html) {
                $('.progress_list').hide();
                $("#list_modules").html(html);
            });
    }

    list();


    $(document).ready(function () {
        $('#module_select').select2({
            "language": {
                "noResults": function () {
                    return "Nenhum módulo encontrado - <a href='<?php echo $route->pathFor('administrator.modules.record');?>' class='btn btn-primary'> Cadastrar Novo</a>";
                }
            },
            escapeMarkup: function (markup) {
                return markup;
            }
        })

        $("#form_type").validate();

        $('#add_module').click(function () {
            var url = "<?php echo $route->pathFor('administrator.modules.add.type', ['hash' => 'hash_module', 'hash_type' => 'hash_type']);?>";
            var url_final = url.replace("hash_module", $('.select2 option:selected').val());
            var url_final2 = url_final.replace("hash_type", "<?php echo $e->getHash(); ?>");
            $.get(url_final2, function () {
                list();
            })
        })
    })

	<?php } ?>

    $("#form_type").validate();
</script>

